@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');

:root {
	--fg: #000000;
	--bg-start: #ffffff;
	--bg-end: #ffffff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--fg: #000000;
		--bg-start: #e2e2e5;
		--bg-end: #ffffff;
	}
}

.background {
    background-image: url("../public/img/building.jpg");
    background-color: #71591B;
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-size: cover;
	height: 70vh;
}

/* .nixie_header {
	font-family: "Nixie One";
} */

.nixie_header {
	font-family: "Nixie One";
	font-weight: 400;
	font-style: normal;
}
  

