@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--fg: #000000;
	--bg-start: #ffffff;
	--bg-end: #ffffff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--fg: #000000;
		--bg-start: #eeeeee;
		--bg-end: #ffffff;
	}
}

body {
	color: rgb(var(--fg));
	background: var(--bg-start);
	background-repeat: no-repeat;
	height: 100vh;
}
